body {
  background: #fff;
  font-family: "Josefin Sans", sans-serif;
  color: #777;
  font-size: 15px;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

.text-maiusculo {
  text-transform: uppercase;
}

.primaria {
  color: #E2574C;
}

.cor-dark {
  color: black;
}

.segundaria {
  color: #fff;
}

.mg-top {
  padding: 100px 0 0 0;
}

.mg-top-20-alto {
    padding: 20px 0 20px 0;
}

.mg-top-20 {
  padding: 0 20px 20px 0;
}

.text-posicionar {
  text-align: center;
}

.relative {
  position: relative;
}

.pg-0 {
  padding: 0;
}

.espessura-text-bold {
  font-weight: bold;
}

.espessura-text-700 {
  font-weight: 700;
}

.espessura-text-600 {
  font-weight: 600;
}

.sobre {
    font-weight: 700;
    font-size: 34px;
    color: #343434;
  letter-spacing: -1px;
}


/*--------------------opaque--------------------------------*/
.opaque-navbar {
  background: transparent;
  padding: 23px;
  transition: 500ms;
}

.opaque-navbar.opaque {
  background-color: #fff;
  padding: 23px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
}

.opaque-texto {
  color: #fff;
}

.opaque-texto:hover {
  color: #E2574C;
}

.opaque-texto.texto {
  color: black;
}

.opaque-texto.texto:hover {
  color: #E2574C;
}

/*-------------------------------------------------------------*/
/*------------------------ NAVBAR ----------------------------*/
.navbar-nav a,
.navbar-nav button {
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

.dropdown-menu {
  background: #777;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background: transparent;
  color: #E2574C;
}

/*---------------------------------------------------------------*/
/*------------------------IMAGES---------------------------*/
.img-fundo {
  background: url(../image/1.jpg) no-repeat fixed top;
  background-size: cover;
  padding: 300px 0 225px;
}

.img-mulheres {
  background: url(../image/parallax/1.jpg) no-repeat fixed top;
  background-size: cover;
}

.tam-mulheres {
  padding: 60px 0;
}

#img-logo {
  background: url(..//image/logo.png) no-repeat;
  width: 120px;
  height: 50px;
  display: inline-block;
  /* Image Replacemnet*/
  text-indent: 9999px;
}

.img-mar {
  background: url(../image/parallax/2.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 70px;
}


.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-social {
  width: 100%;
  max-height: 600px;
  height: 100%;
}


/*---------------------------------------------------------------*/
.overlay {
  background: #151515;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

/* BARRA EM LARANJA*/
.barra-laranja {
  background: #E2574C;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.sss {
  display: flex;
  flex-wrap: wrap;
}

.opacity-img {
  opacity: 0.4;
}

.conteudo li img:hover {
  opacity: 1;
}

.centralizar {
  text-align: center;
  line-height: 0.1;
}

/* ----------------------------------------- BOTOES ---------------------------------- */
.btn {
  border-radius: 20px;
  transition: 300ms;
  margin-left: 10px;
  padding: 8px 30px;
  font-size: 15px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.btn-vermelho {
  background-color: #E2574C;
  color: #fff;
}

.btn-vermelho:hover {
  color: #E2574C;
  background-color: transparent;
  border: 1px dashed #E2574C;
}

.btn-transparente {
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
}

.btn-transparente:hover {
  background-color: #E2574C;
  color: #fff;
  border: 1px solid #E2574C;
}

/*--------------------------------------------------------------------------------*/
.quadrado {
  padding: 30px 30px 15px;
  border: 2px solid #E2574C;
  margin: 2px;
  box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.3);
  min-width: 300px;
}

.quadrado h6 {
  font-weight: 700;
  color: black;
}

.alinhamento {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: space-between;
}

.box-image {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.box-image img {
  width: 100%;
}

.box-descricao {
  width: 100%;
  min-width: 350px;
  padding: 0 60px;
}

.box-descricao h2 {
  padding-top: 20px; 
}

.box-lista {
  color: #f2f2f2;
  font-size: 16px;
}

.box-lista li {
  padding: 5px 0 5px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col {
  padding: 0;
}



/*# sourceMappingURL=estilo.css.map */


/*------------------------------------PLANOS--------------------------------------*/


.plano-especial {
  border: 2px solid #E2574C;
}

.planos-basico {
  border: 2px solid #ddd;
}

.planos {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.2);
}

.planos-titulo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 0 0 0;
}

.planos-valores {
  position: relative;
  background-color: #f2f2f2;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  font-weight: bold;
  padding: 70px 20px;
}

.valores-especial {
  background-color: #E2574C;
}

.planos-valores span {
  font-size: 25px;
}


.btn-vermelho2 {
  background-color: #E2574C;
  color: #fff;
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.btn-vermelho2:hover {
  color: #E2574C;
  background-color: transparent;
  border: 1px dashed #E2574C;
  width: 100%;
  margin: 0;
}

.planos-button {
  padding: 40px;
}

.planos-lista {
  padding: 20px 0 0 0;
  line-height: 50px;
  font-size: 0.95em;
  margin:0;
}

/*--------------------------------------------------------------------------------*/


.contato-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.3);
  min-height: 180px;
  box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.2);
  border-radius: 5px;
}

.contato-img {
  font-size: 40px;
  padding: 10px;
  color: #E2574C;
}

.detalhes-padding {
  padding: 10px;
}


.sabil-key button {
  margin-top: 30px;
}

.sabil-key h5{
  padding-bottom: 10px; 
  color: #343434;
}

@media only screen and (max-width: 767px) and (min-width: 280px) {
.sabil-key h5{
  font-size: 28px;
  margin: 40px 0 20px;
}
}

/*-------------------ICONEs-----------------------------------------------------*/

.fa-arrow-right {
  padding-left: 15px;
}

/*--------------------------------------------------------------------------------*/

.fundo-text h1 {
  padding-bottom: 30px;
}
.fundo-text p {
  font-size: 18px;
  opacity: 0.9;
}

.fa-check-circle {
  color: #E2574C;
  padding-right: 10px;
  font-size: 20px;
}

.fa-key {
  font-size: 25px;
  padding-right: 10px;
}

.rotape{
  background: #343434;
  margin-top: 100px; 
  color: #777;

}

.rotape-container{
  padding: 90px;
}

.rotape-lista a {
  text-decoration:none;
  color: #777;
}

.rotape-lista a:hover {
  text-decoration: none;
  color: #E2574C;
}

.rotape h6{
  margin: 25px 0 15px 0;
}

.rotape-social a{
  text-decoration:none;
  color: #ddd;
  margin-right: 10px;
  font-size: 19px;
}

.footer-final{
    background: #262626;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2px;
}

.rotape-pagamento img {
  padding: 0 5px 20px 5px;
}


.swiper-container {
  width: 100%; ;
  height: 100%;
  background-color:F2F2F2;
  height: 320px;
}

.swiper-slide {
  background-color: F2F2F2;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide p{
  font-style:italic;
  font-size: 16px;
  padding: 35px 0 10px 0;
}

.swiper-slide .author{
  color: #E2574C;
  font-weight: bold;
  font-size: 17px;
}

.swiper-slide .author-job {
  font-size: 13px;
}

.swiper-slide img{
  border-radius: 50px;
}

.swiper-wrapper img{
  padding-top: 10px; 
}

.review{
  background-color: #F2F2F2;
}